:root {
    --fcg-green: #81bb4e;
}

@font-face { /* https://github.com/garrettboatman/ForTheWolf/blob/master/fonts/Futura-Medium.woff */
    font-family: Futura;
    src: url('/Site Files/Fonts/Futura-Medium.woff') format("WOFF");
    font-weight: normal;
}
  
@font-face { 
    font-family: Futura-Book;
    src: url('/Site Files/Fonts/Futura-Book.woff') format("WOFF");
    font-weight: normal;
}

@font-face { 
    font-family: Futura-Medium;
    src: url('/Site Files/Fonts/Futura-Medium.woff') format("WOFF");
    font-weight: normal;
}

@font-face { 
    font-family: Futura-Bold;
    src: url('/Site Files/Fonts/Futura-Bold.ttf') format("TFF");
    font-weight: normal;
}

@font-face { 
    font-family: Consolas;
    src: url('/Site Files/Fonts/Consolas.woff') format("WOFF");
    font-weight: normal;
}

/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    /* border-style: dotted; */
    margin-bottom: 100px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* NAVBAR STYLING */
.navbar {
    /* border-style: dotted; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px 5px 0px;
    background-color: white;
    color: black;
    border-bottom: 1px solid black;
}

.nav-links a {
    font-family: Consolas;
    color: black;
}

/* LOGO */
.logo {
    cursor: pointer;
    margin-left: 25px;
}

img.company-logo {
    width: 250px;
}
/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    margin-right: 50px;
}

.menu li:hover {
    background-color: var(--fcg-green);
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li a:hover {
    color: white;
}

.menu li {
    padding: 6.5px 14px;
}

/* COORDINATION REQUESTS - DROPDOWN MENU */
.rf-requests {
    /* border-style: dotted; */
    position: relative;
}

.dropdown {
    /* border-style: dotted; */
    background-color: #dbdbdb;
    padding: 0 0;
    position: absolute;     /* with respect to parent */
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li a + li {
    /* border-style: dotted; */
    margin-top: 0px;
}

.dropdown li {
    /* border-style: dotted; */
    /* padding: 0.5em; */
    width: 18em;
    text-align: center;
}

.dropdown li:hover {
    /* border-style: dotted; */
    background-color: var(--fcg-green);
}

.dropdown-menu:hover .dropdown {
    /* transition-delay: 1s; */
    /* border-style: dotted; */
    display: block;
    background-color: #dbdbdb;
}

/* RESPONSIVE NAVBAR */
.hack { /* input */
    display: none
}

/* HAMBURGER MENU */
.hamburger {
    background-color: white;
    display: none;
    font-size: 24px;
    user-select: none;
    cursor: pointer;
    margin-right: 100px;
}

/* MEDIA QUERIES */
@media (max-width: 1075px) {
    .menu {
        display: none;
        position: absolute;
        background-color: white;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        margin-top: 50px;
        width: 100%;
    }

    .menu li:hover {
        cursor: pointer;
        display: inline-block;
        background-color: var(--fcg-green);
        transition: 0.3s ease;
    }

    .hack:checked ~ .menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        /* left: 50%; */
        top: 34px;
        /* transform: translateX(10%); */
    }

    .dropdown li:hover {
        background-color: var(--fcg-green);
    }
}


/* PAGE DEFAULT */
.page-header{
    /* border-style: dotted; */
    /* border-radius: 20px; */
    text-align: center;
    width: fit-content;
    margin: 20px auto 10px auto;
}

#page-title {
    /* border-style: dotted; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: Consolas;
    width: fit-content;
    font-size: 4.5vw;
    margin: 30px auto auto auto;
    padding: 20px;
}

#page-subtitle {
    /* border-style: dotted; */
    width: fit-content;
    margin: 10px auto auto auto;
    padding: 20px;
    font-family: Futura-Book;
    color: #81BB4E;
    font-size: 4vw;
}

#page-desc {
    /* border-style: dotted; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    width: 100%;
    margin: 10px auto auto auto;
    padding: 20px;
    font-family: Consolas;
    font-size: 1.5vw;
    word-wrap: break-word;
}


/* CONTACT BUTTON */
.contact-button {
    background-color: var(--fcg-green);
    border: 0.25vw solid black;
    border-radius: 2vw;
    color: black;
    padding: 1vw 2vw 1vw 2vw;
    text-align: center;
    text-decoration: none;
    font-family: Futura-Book;
    font-size: 2vw;
    cursor: pointer;
    margin: 35px auto 100px auto;
}

.contact-button:hover {
    box-shadow: 0 5px 16px 0 rgba(173, 173, 173, 0.24),0 17px 25px 0 rgba(173, 173, 173, 0.24);
    transition: all 0.3s ease 0s;
    border: 0.25vw solid #81BB4E;
    border-radius: 2vw;
    background-color: #81BB4E;
    color: white;
}


/* FOOTER */
footer {
    /* border-style: dotted; */
    /* position: absolute; */
    bottom: 0;
    padding: 10px 0 10px 0;
    margin-bottom: 20px;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    border-top: 1px solid black;
}

.footer-credits {
    font-family: Consolas;
    font-size: 1.5vw;
    margin-top: 2vw;
}

#copyright {
    color: black;
    text-decoration: none;
}

/* SOCIAL LINKS & ICONS */
.social-links {
    /* border-style: dotted; */
    position: static;
    padding: 10px 10px 0px 10px;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    bottom: 0;
    text-align: center;
}

.social-icon {
    width: 1vw;
    padding: 10px;
    text-decoration: none;
}


/* -------------------------------------------------------------------------------------------- */


/* RF FORM */
.rf-form {
    /* border-style: dotted; */
    border-radius: 1vw;
    width: 85vw;
    margin: 2vw auto 2vw auto;
    /* padding: 2vw 3vw 2vw 3vw; */
}

.form-header {
    border-style: dotted;
    border-radius: 20px;
    text-align: center;
    /* width: 1200px; */
    width: 60vw;
    margin: 2vw auto 2vw auto;
    padding: 1vw;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Futura-Book;
}

.form-title {
    font-size: 3.5vw;
}

.show-logo {
    width: 46vw;
    padding: 20px 0px 45px 0px;
}

.form-show {
    /* font-size: 45px; */
    font-size: 3vw;
    color: #81BB4E;
}

.form-description {
    font-size: 1.5vw;
}

.required-field::before{
    content: "* ";
    color: red;
}

.form-section {
    border-style: dotted;
    border-radius: 1vw;
    width: 60vw;
    margin: 2vw auto 2vw auto;
    padding: 2vw 3vw 2vw 3vw;
    font-family: Futura-Book;
}

.form-section-title {
    /* font-size: 20px; */
    /* margin-bottom: 10px; */
    margin-bottom: 0.75vw;
    text-decoration: underline;
    font-size: 1.8vw;
}

.form-section-text {
    /* border-style: dotted; */
    /* font-size: 18px; */
    font-size: 4vw;
}

.form-text {
    /* border-style: dotted; */
    /* font-size: 18px; */
    font-size: 1.4vw;
}

.form-item {
    /* border-style: dotted; */
    /* padding: 10px 10px 10px 10px; */
    /* font-size: 18px; */
    padding: 0.5vw 1vw 0.5vw 1vw;
    font-family: Futura-Medium;
    font-size: 1.4vw;
}

.form-notes {
    /* border-style: dotted; */
    padding: 0.5vw 1vw 0.5vw 1vw;
    font-family: Futura-Medium;
    font-size: 1vw;
    overflow-wrap: break-word;
}

.form-question {
    /* border-style: dotted; */
    width: 100%;
    /* margin: 15px auto 20px 100px; */
    /* font-size: 18px; */
    margin: 1vw auto 2vw 4vw;
    font-size: 1.5vw;
}

.form-subsection {
    /* border-style: dotted; */
    width: fit-content;
    margin: 20px auto auto auto;
    text-align: left;
}

input[type=text]{
    width: 100%;
    height: 2vw;
    /* padding: 12px 20px;
    margin: 8px 0; */
    padding: 1.5vw 1vw;
    margin: 0.5vw 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* font-size: 18px; */
    font-family: Futura-Book;
    font-size: 1.3vw;
}

/* RADIOS */
.radio-form-section {
    border-style: dotted;
    border-radius: 1vw;
    /* width: 800px; */
    /* margin: 20px auto 20px auto;
    padding: 25px 50px 25px 50px; */
    width: 60vw;
    margin: 2vw auto 2vw auto;
    padding: 2vw 3vw 2vw 3vw;
    font-family: Futura-Book;
}

.radio-warning {
    text-align: center;
    font-size: 1.5vw;
    color: red;
}

#radio-popup{
    padding: 0.5vw;
}

#radio-notice{
    border-style: solid;
    text-align: center;
    padding: 1.5vw;
    margin: 0 0 2vw 0;
    font-size: 1.3vw;
    }

textarea {
  width: 100%;
  max-width: 100%;
  /* max-height: 2%; */
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  padding: 12px 20px;
  /* font-size: 18px; */
  font-family: Futura-Book;
  font-size: 1.3vw;
}

input[type=file] {
  font-size: 18px;
}

select {
  color: gray; 
  font-size: 1.5vw;
  display: block;
  width: 100%;
  margin: 10px auto auto auto;
}

input[type=checkbox] {
  /* font-size: 18px; */
  font-size: 1.3vw;
  width: 1.3vw;
  height: 1.3vw;
  margin: auto;
}


/* HIDDEN ELEMENTS FOR GOOGLE SHEETS FORM */
#hidden-date {
  display: none;
}

#hidden-loc {
  display: none;
}

#hidden-radios {
  display: none;
}

#hidden-range {
  display: none;
}

#hidden-comments {
  display: none;
}


/* https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
/* CUSTOM CHECKBOX */
.checkbox-group {
    margin-top: 1vw;
}



.checkbox-container {
    /* border-style: dotted; */
    display: block;
    position: relative;
    /* padding-left: 2vw; */
    margin-bottom: 1vw;
    padding: 0.2vw 0 0 2.75vw;
    /* padding-left: 2.75vw; */
    cursor: pointer;
    font-family: Futura-Book;
    font-size: 1.3vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.7vw;
    width: 1.7vw;
    background-color: #c3c3c3;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: var(--fcg-green);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 0.6vw;
    top: 0.25vw;
    width: 0.3vw;
    height: 0.75vw;
    border: solid white;
    border-width: 0 0.25vw 0.25vw 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio ---------------------------- */
/* CUSTOM RADIO BUTTON */
.radio-container {
    /* border-style: dotted; */
    display: block;
    position: relative;
    padding-left: 2.5vw;
    margin-bottom: 1vw;
    cursor: pointer;
    font-family: Futura-Book;
    font-size: 1.3vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.radio-mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5vw;
    width: 1.5vw;
    background-color: #c3c3c3;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radio-mark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radio-mark {
    background-color: #81BA4D;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-mark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio-mark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radio-mark:after {
    top: 0.45vw;
    left: 0.45vw;
    width: 0.6vw;
    height: 0.6vw;
    border-radius: 50%;
    background: white;
}
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio ^^^^^^^^^^^^^^^^^^^^^^^^^^^^  */

/* WIRELESS DEVICES */
.device-example {
    color: gray;
    font-style: italic;
    padding-top: 0.5vw;
    /* margin: 5px; */
}

.wireless-form-section {
    border-style: dotted;
    border-radius: 1vw;
    /* width: 800px; */
    /* margin: 20px auto 20px auto;
    padding: 25px 50px 25px 50px; */
    width: 60vw;
    /* min-width: 400px; */
    margin: 2vw auto 2vw auto;
    padding: 2vw 3vw 2vw 3vw;
    font-family: Futura-Book;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.device-type {
    /* height: 18px;
    line-height: 18px; */
    height: 2vw;
    line-height: 2vw;
}

fieldset {
    border-style: none;
}

select {
    /* border-style: dotted; */
    width: 15vw;
    height: 2.5vw;
    margin: 0vw 0vw 0vw 0vw;
    font-family: Futura-Book;
    font-size: 1.3vw;
}

table, th, td {
    /* border: 1px solid black; */
    /* font-size: 18px; */
    margin: auto;
    /* padding: 0px 10px 0px 10px; */
    padding: 0 0.5vw 0 0.5vw;
    font-size: 1.3vw;
    justify-content: center;
}

.rf-table-header {
    font-weight: bold;
}

thead {
    text-align: center;
    /* font-weight: 200; */
}

.table-button {
    /* border-style: dotted; */
    text-align: center;
    justify-content: right;
    background-color: #81BB4E; /* Green */
    border: none;
    border-radius: 25%;
    height: 2vw;
    width: 2vw;
    color: white;
    padding: 2vw;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
    margin: 1vw 0.5vw 2vw 0.5vw;
    padding: 0.25vw 0.5vw 0.25vw 0.5vw;
    cursor: pointer;
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    margin-left: 2vw;
    font-size: 2vw;
    /* border-bottom: 1px dotted black; */
  }

.tooltip .tooltiptext {
    visibility: hidden;
    width: 18vw;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    font-size: 1.3vw;
    padding: 14px 0px 14px 14px;

/* Position the tooltip */
    position: absolute;
    z-index: 1;
}
  
/* .tooltip:hover .tooltiptext {
    visibility: visible;
} */

.tooltip .show {
    visibility: visible;
}

.help {
    cursor: help;
}


.comments-section {
    border-style: dotted;
    border-radius: 1vw;
    /* width: 800px; */
    /* margin: 20px auto 20px auto;
    padding: 25px 50px 25px 50px; */
    width: 60vw;
    margin: 2vw auto 2vw auto;
    padding: 2vw 3vw 2vw 3vw;
    font-family: Futura-Book;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.submit-button {
    /* background-color: #81BB4E;
    border: none;
    border-radius: 1vw;
    color: #fff;
    padding: 1vw 2vw;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
    cursor: pointer;
    margin: auto; */

    display: flex;
    justify-content: center;
    align-items: center;


    background-color: var(--fcg-green);
    border: 0.25vw solid black;
    border-radius: 2vw;
    color: black;
    padding: 0.8vw 2vw 0.6vw 2vw;
    text-align: center;
    text-decoration: none;
    font-family: Futura-Book;
    font-size: 2vw;
    cursor: pointer;
    margin: 35px auto 30px auto;
}

.submit-button:hover {
    /* box-shadow: 0 5px 16px 0 rgba(0,0,0,0.24),0 17px 25px 0 rgba(0,0,0,0.19); */

    box-shadow: 0 5px 16px 0 rgba(173, 173, 173, 0.24),0 17px 25px 0 rgba(173, 173, 173, 0.24);
    transition: all 0.3s ease 0s;
    border: 0.25vw solid #81BB4E;
    border-radius: 2vw;
    background-color: #81BB4E;
    color: white;
}


/* .center {
    /* display: flex;
    justify-content: center;
    align-items: center;
    /* height: 75px;
    font-size: 45px;
    padding: 10px 25px 10px 25px;
    margin-top: 50px;
    margin-bottom: 100px;
    height: 4.5vw;
    font-size: 3vw;
    padding: 1vw;
    margin-top: 4vw;
    margin-bottom: 6vw;
} */

.submit-warning {
    font-family: Consolas;
    color: red;
    text-align: center;
    font-size: 1vw;

}



/* MOBILE */
@media only screen and (max-width: 600px) {
    img.company-logo {
        width: 175px;
    }
    
    #page-title {
        font-size: 10vw;
    }

    #page-subtitle {
        font-size: 8vw;
        text-align: center;
        inline-size: 300px;
        text-wrap: break-word;
    }

    #page-desc {
        width: 80vw;
        font-size: 4vw;
    }

    .contact-button {
        font-size: 4vw;
    }

    .footer-credits {
        font-size: 2.5vw;
        margin-top: 2vw;
    }

    .form-header {
        width: 80vw;
    }

    .form-section {
        width: 80vw;
    }

    .radio-form-section {
        width: 80vw;
    }

    .wireless-form-section {
        width: 80vw;
    }

    .comments-section {
        width: 80vw;
    }

    .form-title {
        font-size: 6vw;
    }

    .show-logo {
        width: 45vw;
    }

    .form-description {
        font-size: 3vw;
    }

    .form-section-title {
        font-size: 3.5vw;
    }

    .form-item {
        font-size: 3vw;
    }

    .form-notes {
        font-size: 2.5vw;
    }

    .form-text {
        font-size: 3vw;
    }

    .radio-warning {
        font-size: 3.4vw;
    }

    #radio-notice {
        font-size: 1.3vw;
    }

    input[type=text]{
        width: 100%;
        height: 5vw;
        font-size: 2.5vw;
    }

    textarea {
        font-size: 2.5vw;
      }

    .checkbox-container {
        padding-left: 5.5vw;
        font-size: 2.5vw;
    }
    .checkmark {
        width: 3vw;
        height: 3vw;
    }

    .checkbox-container .checkmark:after {
        left: 1.3vw;
        top: 0.2vw;
        width: 0.5vw;
        height: 2vw;
    }

    .radio-container {
        padding-left: 5.5vw;
        font-size: 2.5vw;
    }

    #radio-notice {
        font-size: 2.5vw;
    }

    .radio-mark {
        width: 3vw;
        height: 3vw;
    }

    .radio-container .radio-mark:after {
        top: 0.9vw;
        left: 0.9vw;
        width: 1.2vw;
        height: 1.2vw;
    }

    .wireless-form-section .radio-container {
        font-size: 2.8vw;
        padding-top: 0.6vw;
    }

    table, th, td {
        font-size: 2.5vw;
    }

    .table-button {
        height: 4vw;
        width: 4vw;
        padding: 0.2vw 0 2vw 0;
        font-size: 3vw;
    }

    .tooltip {
        font-size: 2.8vw;
    }

    .tooltip .tooltiptext {
        /* visibility: hidden; */
        width: 35vw;
        /* background-color: black; */
        /* color: #fff; */
        text-align: left;
        border-radius: 6px;
        font-size: 2.5vw;
        padding: 14px 0px 14px 14px;
    }

    select {
        width: 100%;
        height: 5vw;
        font-size: 2.5vw;
      }

    .submit-button {
        border: 0.5vw solid black;
        border-radius: 4vw;
        padding: 1vw 2vw;
        font-size: 3vw;
        cursor: pointer;
        /* margin: auto; */
    }

    .center {
        height: 8vw;
        font-size: 5vw;
        padding: 1vw 2vw;
        margin-top: 4vw;
        margin-bottom: 6vw;
    }

    .submit-warning {
        font-size: 1.8vw;
    }


}

  /* CREDITS / HELP

Responsive navbar: https://www.makeuseof.com/responsive-navigation-bar-using-html-and-css/ 
Contact form: /* https://www.w3schools.com/howto/howto_css_contact_form.asp 

*/